---
layout: gallery
title: Game
---

{% assign everything = site.data.apple | concat: site.data.astronaut | concat: site.data.astronaut-mars | concat: site.data.cat | concat: site.data.city | concat: site.data.close-up | concat: site.data.close-up-lora | concat: site.data.egypt | concat: site.data.fallout | concat: site.data.house | concat: site.data.island | concat: site.data.nude-women | concat: site.data.pastry | concat: site.data.river | concat: site.data.stormtrooper | concat: site.data.supercar | concat: site.data.tattooed-women | concat: site.data.vikings | concat: site.data.vines | concat: site.data.vines-lora | concat: site.data.witch %}

{% assign bubblebobble = everything | where: 'title', 'Bubble Bobble' %}

{% include gallery.html data = bubblebobble title = "Bubble Bobble" id = 'bubblebobble' %}

{% assign cyberpunk = everything | where: 'title', 'Cyberpunk 2077' %}

{% include gallery.html data = cyberpunk title = "Cyberpunk 2077" id = 'cyberpunk' %}

{% assign fightinggame = everything | where: 'title', 'Fighting Game' %}

{% include gallery.html data = fightinggame title = "Fighting Game" id = 'fightinggame' %}

{% assign fortnite = everything | where: 'title', 'Fortnite' %}

{% include gallery.html data = fortnite title = "Fortnite" id = 'fortnite' %}

{% assign gta = everything | where: 'title', 'GTA' %}

{% include gallery.html data = gta title = "GTA" id = 'gta' %}

{% assign legendofzelda = everything | where: 'title', 'Legend of Zelda' %}

{% include gallery.html data = legendofzelda title = "Legend of Zelda" id = 'legendofzelda' %}

{% assign minecraft = everything | where: 'title', 'Minecraft' %}

{% include gallery.html data = minecraft title = "Minecraft" id = 'minecraft' %}

{% assign pokmon = everything | where: 'title', 'Pokémon' %}

{% include gallery.html data = pokmon title = "Pokémon" id = 'pokmon' %}

{% assign ps = everything | where: 'title', 'PS1' %}

{% include gallery.html data = ps title = "PS1" id = 'ps' %}

{% assign retroarcade = everything | where: 'title', 'Retro Arcade' %}

{% include gallery.html data = retroarcade title = "Retro Arcade" id = 'retroarcade' %}

{% assign retrogame = everything | where: 'title', 'Retro Game' %}

{% include gallery.html data = retrogame title = "Retro Game" id = 'retrogame' %}

{% assign rpgfantasygame = everything | where: 'title', 'RPG Fantasy Game' %}

{% include gallery.html data = rpgfantasygame title = "RPG Fantasy Game" id = 'rpgfantasygame' %}

{% assign strategygame = everything | where: 'title', 'Strategy Game' %}

{% include gallery.html data = strategygame title = "Strategy Game" id = 'strategygame' %}

{% assign streetfighter = everything | where: 'title', 'Street Fighter' %}

{% include gallery.html data = streetfighter title = "Street Fighter" id = 'streetfighter' %}

{% assign supermario = everything | where: 'title', 'Super Mario' %}

{% include gallery.html data = supermario title = "Super Mario" id = 'supermario' %}

{% assign voxel = everything | where: 'title', 'Voxel' %}

{% include gallery.html data = voxel title = "Voxel" id = 'voxel' %}