---
layout: gallery
title: Miscellaneous
---

{% assign everything = site.data.apple | concat: site.data.astronaut | concat: site.data.astronaut-mars | concat: site.data.cat | concat: site.data.city | concat: site.data.close-up | concat: site.data.close-up-lora | concat: site.data.egypt | concat: site.data.fallout | concat: site.data.house | concat: site.data.island | concat: site.data.nude-women | concat: site.data.pastry | concat: site.data.river | concat: site.data.stormtrooper | concat: site.data.supercar | concat: site.data.tattooed-women | concat: site.data.vikings | concat: site.data.vines | concat: site.data.witch %}

{% assign academia = everything | where: 'title', 'Academia' %}

{% include gallery.html data = academia title = "Academia" id = 'academia' %}

{% assign actionfigure = everything | where: 'title', 'Action Figure' %}

{% include gallery.html data = actionfigure title = "Action Figure" id = 'actionfigure' %}

{% assign architectural = everything | where: 'title', 'Architectural' %}

{% include gallery.html data = architectural title = "Architectural" id = 'architectural' %}

{% assign astralaura = everything | where: 'title', 'Astral Aura' %}

{% include gallery.html data = astralaura title = "Astral Aura" id = 'astralaura' %}

{% assign blueprint = everything | where: 'title', 'Blueprint' %}

{% include gallery.html data = blueprint title = "Blueprint" id = 'blueprint' %}

{% assign darkmoody = everything | where: 'title', 'Dark Moody' %}

{% include gallery.html data = darkmoody title = "Dark Moody" id = 'darkmoody' %}

{% assign disco = everything | where: 'title', 'Disco' %}

{% include gallery.html data = disco title = "Disco" id = 'disco' %}

{% assign dreamscape = everything | where: 'title', 'Dreamscape' %}

{% include gallery.html data = dreamscape title = "Dreamscape" id = 'dreamscape' %}

{% assign dystopian = everything | where: 'title', 'Dystopian' %}

{% include gallery.html data = dystopian title = "Dystopian" id = 'dystopian' %}

{% assign fairytale = everything | where: 'title', 'Fairy Tale' %}

{% include gallery.html data = fairytale title = "Fairy Tale" id = 'fairytale' %}

{% assign fxmonster = everything | where: 'title', 'Fx Monster' %}

{% include gallery.html data = fxmonster title = "Fx Monster" id = 'fxmonster' %}

{% assign fxmonstermeatsack = everything | where: 'title', 'Fx Monster (Meatsack)' %}

{% include gallery.html data = fxmonstermeatsack title = "Fx Monster (Meatsack)" id = 'fxmonstermeatsack' %}

{% assign fxmonsternocaption = everything | where: 'title', 'Fx Monster (No Caption)' %}

{% include gallery.html data = fxmonsternocaption title = "Fx Monster (No Caption)" id = 'fxmonsternocaption' %}

{% assign gothic = everything | where: 'title', 'Gothic' %}

{% include gallery.html data = gothic title = "Gothic" id = 'gothic' %}

{% assign grunge = everything | where: 'title', 'Grunge' %}

{% include gallery.html data = grunge title = "Grunge" id = 'grunge' %}

{% assign horror = everything | where: 'title', 'Horror' %}

{% include gallery.html data = horror title = "Horror" id = 'horror' %}

{% assign kawaii = everything | where: 'title', 'Kawaii' %}

{% include gallery.html data = kawaii title = "Kawaii" id = 'kawaii' %}

{% assign legobrickheadz = everything | where: 'title', 'LEGO BrickHeadz' %}

{% include gallery.html data = legobrickheadz title = "LEGO BrickHeadz" id = 'legobrickheadz' %}

{% assign legocreator = everything | where: 'title', 'LEGO Creator' %}

{% include gallery.html data = legocreator title = "LEGO Creator" id = 'legocreator' %}

{% assign legominifig = everything | where: 'title', 'LEGO MiniFig' %}

{% include gallery.html data = legominifig title = "LEGO MiniFig" id = 'legominifig' %}

{% assign logo = everything | where: 'title', 'Logo' %}

{% include gallery.html data = logo title = "Logo" id = 'logo' %}

{% assign lovecraftian = everything | where: 'title', 'Lovecraftian' %}

{% include gallery.html data = lovecraftian title = "Lovecraftian" id = 'lovecraftian' %}

{% assign macabre = everything | where: 'title', 'Macabre' %}

{% include gallery.html data = macabre title = "Macabre" id = 'macabre' %}

{% assign manga = everything | where: 'title', 'Manga' %}

{% include gallery.html data = manga title = "Manga" id = 'manga' %}

{% assign medievalism = everything | where: 'title', 'Medievalism' %}

{% include gallery.html data = medievalism title = "Medievalism" id = 'medievalism' %}

{% assign metropolis = everything | where: 'title', 'Metropolis' %}

{% include gallery.html data = metropolis title = "Metropolis" id = 'metropolis' %}

{% assign minimalist = everything | where: 'title', 'Minimalist' %}

{% include gallery.html data = minimalist title = "Minimalist" id = 'minimalist' %}

{% assign monochrome = everything | where: 'title', 'Monochrome' %}

{% include gallery.html data = monochrome title = "Monochrome" id = 'monochrome' %}

{% assign nautical = everything | where: 'title', 'Nautical' %}

{% include gallery.html data = nautical title = "Nautical" id = 'nautical' %}

{% assign perfecteyes = everything | where: 'title', 'Perfect Eyes' %}

{% include gallery.html data = perfecteyes title = "Perfect Eyes" id = 'perfecteyes' %}

{% assign space = everything | where: 'title', 'Space' %}

{% include gallery.html data = space title = "Space" id = 'space' %}

{% assign stainedglass = everything | where: 'title', 'Stained Glass' %}

{% include gallery.html data = stainedglass title = "Stained Glass" id = 'stainedglass' %}

{% assign techwearfashion = everything | where: 'title', 'Techwear Fashion' %}

{% include gallery.html data = techwearfashion title = "Techwear Fashion" id = 'techwearfashion' %}

{% assign terragen = everything | where: 'title', 'Terragen' %}

{% include gallery.html data = terragen title = "Terragen" id = 'terragen' %}

{% assign tribal = everything | where: 'title', 'Tribal' %}

{% include gallery.html data = tribal title = "Tribal" id = 'tribal' %}

{% assign vines = everything | where: 'title', 'Vines' %}

{% include gallery.html data = vines title = "Vines" id = 'vines' %}

{% assign wowifier = everything | where: 'title', 'WOW-ifier' %}

{% include gallery.html data = wowifier title = "WOW-ifier" id = 'wowifier' %}

{% assign zentangle = everything | where: 'title', 'Zentangle' %}

{% include gallery.html data = zentangle title = "Zentangle" id = 'zentangle' %}