---
layout: gallery
title: Artstyle
---

{% assign everything = site.data.tattooed-women | concat: site.data.city | concat: site.data.house | concat: site.data.nude-women | concat: site.data.river | concat: site.data.close-up-lora | concat: site.data.apple | concat: site.data.supercar | concat: site.data.close-up | concat: site.data.astronaut | concat: site.data.island | concat: site.data.stormtrooper | concat: site.data.astronaut-mars | concat: site.data.cat %}

{% assign abstract = everything | where: 'title', 'Abstract' %}

{% include gallery.html data = abstract title = "Abstract" id = 'abstract' %}

{% assign abstractexpressionism = everything | where: 'title', 'Abstract Expressionism' %}

{% include gallery.html data = abstractexpressionism title = "Abstract Expressionism" id = 'abstractexpressionism' %}

{% assign artdeco = everything | where: 'title', 'Art Deco' %}

{% include gallery.html data = artdeco title = "Art Deco" id = 'artdeco' %}

{% assign artnouveau = everything | where: 'title', 'Art Nouveau' %}

{% include gallery.html data = artnouveau title = "Art Nouveau" id = 'artnouveau' %}

{% assign avantgarde = everything | where: 'title', 'Avant-garde' %}

{% include gallery.html data = avantgarde title = "Avant-garde" id = 'avantgarde' %}

{% assign baroque = everything | where: 'title', 'Baroque' %}

{% include gallery.html data = baroque title = "Baroque" id = 'baroque' %}

{% assign bauhausstyleposter = everything | where: 'title', 'Bauhaus-Style Poster' %}

{% include gallery.html data = bauhausstyleposter title = "Bauhaus-Style Poster" id = 'bauhausstyleposter' %}

{% assign caricature = everything | where: 'title', 'Caricature' %}

{% include gallery.html data = caricature title = "Caricature" id = 'caricature' %}

{% assign celshading = everything | where: 'title', 'Cel Shading' %}

{% include gallery.html data = celshading title = "Cel Shading" id = 'celshading' %}

{% assign characterdesign = everything | where: 'title', 'Character Design' %}

{% include gallery.html data = characterdesign title = "Character Design" id = 'characterdesign' %}

{% assign colorfieldpainting = everything | where: 'title', 'Color Field Painting' %}

{% include gallery.html data = colorfieldpainting title = "Color Field Painting" id = 'colorfieldpainting' %}

{% assign conceptualart = everything | where: 'title', 'Conceptual Art' %}

{% include gallery.html data = conceptualart title = "Conceptual Art" id = 'conceptualart' %}

{% assign crayon = everything | where: 'title', 'Crayon' %}

{% include gallery.html data = crayon title = "Crayon" id = 'crayon' %}

{% assign cubist = everything | where: 'title', 'Cubist' %}

{% include gallery.html data = cubist title = "Cubist" id = 'cubist' %}

{% assign dadaism = everything | where: 'title', 'Dadaism' %}

{% include gallery.html data = dadaism title = "Dadaism" id = 'dadaism' %}

{% assign dali = everything | where: 'title', 'Dali' %}

{% include gallery.html data = dali title = "Dali" id = 'dali' %}

{% assign darkfantasy = everything | where: 'title', 'Dark Fantasy' %}

{% include gallery.html data = darkfantasy title = "Dark Fantasy" id = 'darkfantasy' %}

{% assign expressionist = everything | where: 'title', 'Expressionist' %}

{% include gallery.html data = expressionist title = "Expressionist" id = 'expressionist' %}

{% assign fauvism = everything | where: 'title', 'Fauvism' %}

{% include gallery.html data = fauvism title = "Fauvism" id = 'fauvism' %}

{% assign folkart = everything | where: 'title', 'Folk Art' %}

{% include gallery.html data = folkart title = "Folk Art" id = 'folkart' %}

{% assign graffiti = everything | where: 'title', 'Graffiti' %}

{% include gallery.html data = graffiti title = "Graffiti" id = 'graffiti' %}

{% assign hyperrealism = everything | where: 'title', 'Hyperrealism' %}

{% include gallery.html data = hyperrealism title = "Hyperrealism" id = 'hyperrealism' %}

{% assign impressionist = everything | where: 'title', 'Impressionist' %}

{% include gallery.html data = impressionist title = "Impressionist" id = 'impressionist' %}

{% assign inkdripping = everything | where: 'title', 'Ink Dripping' %}

{% include gallery.html data = inkdripping title = "Ink Dripping" id = 'inkdripping' %}

{% assign japaneseink = everything | where: 'title', 'Japanese Ink' %}

{% include gallery.html data = japaneseink title = "Japanese Ink" id = 'japaneseink' %}

{% assign johnberkey = everything | where: 'title', 'John Berkey' %}

{% include gallery.html data = johnberkey title = "John Berkey" id = 'johnberkey' %}

{% assign junjiito = everything | where: 'title', 'Junji Ito' %}

{% include gallery.html data = junjiito title = "Junji Ito" id = 'junjiito' %}

{% assign moebius = everything | where: 'title', 'Moebius' %}

{% include gallery.html data = moebius title = "Moebius" id = 'moebius' %}

{% assign pointillism = everything | where: 'title', 'Pointillism' %}

{% include gallery.html data = pointillism title = "Pointillism" id = 'pointillism' %}

{% assign popart = everything | where: 'title', 'Pop Art' %}

{% include gallery.html data = popart title = "Pop Art" id = 'popart' %}

{% assign psychedelic = everything | where: 'title', 'Psychedelic' %}

{% include gallery.html data = psychedelic title = "Psychedelic" id = 'psychedelic' %}

{% assign renaissance = everything | where: 'title', 'Renaissance' %}

{% include gallery.html data = renaissance title = "Renaissance" id = 'renaissance' %}

{% assign steampunk = everything | where: 'title', 'Steampunk' %}

{% include gallery.html data = steampunk title = "Steampunk" id = 'steampunk' %}

{% assign surrealist = everything | where: 'title', 'Surrealist' %}

{% include gallery.html data = surrealist title = "Surrealist" id = 'surrealist' %}

{% assign terriblefanart = everything | where: 'title', 'Terrible FanArt' %}

{% include gallery.html data = terriblefanart title = "Terrible FanArt" id = 'terriblefanart' %}

{% assign typography = everything | where: 'title', 'Typography' %}

{% include gallery.html data = typography title = "Typography" id = 'typography' %}

{% assign watercolor = everything | where: 'title', 'Watercolor' %}

{% include gallery.html data = watercolor title = "Watercolor" id = 'watercolor' %}