{%if include.lora == "true" %}
<div class="category-lora">
{% else %}
<div>
{% endif %}
<h2>{{include.title}}</h2>

{% assign pictures = include.data | sort: "title" %}

<div class="row">
  {% for picture in pictures %} 
    {% capture image %}{{ site.baseurl }}/static/images/img-thumbs/{{picture.id}}/{{picture.filename}}{% endcapture %} 
    {% if include.title-field == "title" %}
      {% include thumb.html image=image category = include.id title=picture.title image-index = forloop.index0 %} 
    {% else %}
      {% include thumb.html image=image category = include.id title=picture.subject image-index = forloop.index0 %} 
    {% endif %}
    
  {% endfor %}
</div>

{% include carousel.html 
  data=pictures
  id=include.id
%} 
</div>