<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{{ page.description }}" />

    <title>{{ page.title }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link href="{{ site.baseurl }}/static/style.css" rel="stylesheet" />
  </head>

  <body>
    <main class="container">{{ content }}</main>
    <footer>
      <div class="container-fluid">
        <div class="dropdown">
          <button
            type="button"
            class="btn btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            data-bs-auto-close="outside"
          >
            Filters
          </button>
          <form class="dropdown-menu p-4">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="displayLora"
              />
              <label class="form-check-label" for="displayLora"
                >Display LoRA</label
              >
            </div>
            <select
              id="displayNSFW"
              class="form-select"
              aria-label="Display NSFW"
            >
              <option value="show">Show</option>
              <option value="blur">Blur</option>
              <option value="hide">Hide</option>
            </select>
          </form>
        </div>

        <a href="{{ site.baseurl }}/static/styles.csv" download
          >Download CSV styles</a
        >
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="{{ site.baseurl }}/static/data.js"></script>
    <script src="{{ site.baseurl }}/static/script.js"></script>
  </body>
</html>
